In [1]:
def solution(dartResult):
    point = []
    answer = []
    dartResult = dartResult.replace('10','k') # 1o을 k로 바꾼다.
    point = ['10' if i ==  'k' else i for i in dartResult]
    print(point)
    
    i = -1
    sdt = ['S','D','T']
    for j in point:
        if j in sdt:
            answer[i] = answer[i] ** (sdt.index(j)+1)
        elif j == '*':
            answer[i] = answer[i] * 2
            if i != 0 :
                answer[i-1] = answer[i-1]*2
        elif j == '#':
            answer[i] = answer[i]*(-1)
        else:
            answer.append(int(j))
            i += 1
    return sum(answer)

In [10]:
solution('1D2S#10S')

['1', 'D', '2', 'S', '#', '10', 'S']

9

In [13]:
import re
def solution2(dartResult):
    bonus = {'S':1,'D':2,'T':3}
    option = {'':1,'*':2,'#':-1}
    p = re.compile('(\d+)([SDT])([*#]?)')
    dart = p.findall(dartResult)
    for i in range(len(dart)):
        if dart[i][2]=='*' and i > 0:
            dart[i-1]*=2
        dart[i] = int(dart[i][0])**bonus[dart[i][1]]*option[dart[i][2]]
    answer=sum(dart)
    return answer

In [14]:
solution2('1D2S#10S')

9

In [18]:
def word(s):
    word = []
    for i in range(1,6):
        len(word[i])
    return word

In [19]:
word('s')

IndexError: list index out of range

In [22]:
def strnumber(str):
    return int(str)
print(strnumber('-1234'))

-1234

In [60]:
def hide_number(s):
    return '*' * (len(s)-4)+s[-4:] # 
print('결과 :' + hide_number('01030409999'))

결과 :*******9999

In [62]:
def hide_numbers(s):
    t=''
    for i in range(len(s)-4): 
        t+=s[i].replace(s[i],'*')
    return t+s[len(s)-4:len(s)]
print('결과 :' + hide_numbers('01030407777'))

결과 :*******7777

In [70]:
s='01034567890'
print(len(s)-4)
print(s[-4:]) # 뒤에 네자리

7
7890

In [76]:
def hide_numbers(s):
    t=''
    for i in range(len(s)-4): #뒤에 네자리 제외하고 나머지 숫자까지
        t+=s[i].replace(s[i],'*')
    return t+s[-4:]
print('결과는 : ' + hide_numbers('01041140002'))

결과는 : *******0002

In [78]:
def solution(phone_number):
    t=''
    for i in range(len(phone_number)-4): 
        t+=phone_number[i].replace(phone_number[i],'*')
    return t+phone_number[-4:]
print(solution('01033334444'))

*******4444

In [101]:
def solution(num):
    if num%2 == 0:
        answer='Even'
    else :
        answer='Odd'
    return answer

In [102]:
solution(3)

'Odd'

In [105]:
s='Zbcdefg'
sorted(s)

['Z', 'b', 'c', 'd', 'e', 'f', 'g']

In [111]:
def reverse(s):
    t=''
    answer = t.join(sorted(str(s),reverse=True))
    return answer
print(reverse('Zbcdefg'))

gfedcbZ

In [110]:
reverse(s)

'gfedcbZ'

In [112]:
def solution(s,n):

SyntaxError: unexpected EOF while parsing (<ipython-input-112-c8cabde85cf1>, line 2)

In [114]:
def solution(x,y):

NameError: name 'A' is not defined

In [116]:
a = chr(97)
print(a)

a

In [120]:
print(ord('s'))
print(ord('o'))
print(ord('n'))
print(ord('g'))
print(ord('i'))

115
111
110
103
105

In [126]:
def solution(seoul):
    name = seoul.replace('Kim',1)
    answer = '김서방은 '+name+'에 있다.'
    return answer
print('결과는 : ' + solution(['Jane', 'Kim']))

AttributeError: 'list' object has no attribute 'replace'

In [133]:
def solution(seoul):
    return '김서방은 {}에 있다.'.format(seoul.index('Kim'))
print('결과는 : ' + solution(['Jane', 'Kim']))

결과는 : 김서방은 1에 있다.

In [134]:
def solution(n):
    return ('수박'*n)[:n]

In [138]:
solution(5)

'수박수박수'

In [142]:
def solution(n):
    answer = 0 
    
    for i in range(1,n+1):
        if n%i == 0:
            answer += i
            
    return answer

In [146]:
solution(10)

18

In [147]:
def solution(n):
    return sum([i for i in range(1,n+1) if n%1 == 0])

In [150]:
solution(5)

15

# 1

In [151]:
print('Hello World')

Hello World

# 2

In [152]:
print('Mary\'s cosmetics')

Mary's cosmetics

# 3

In [158]:
print('신씨가 소리질렀다. \"도둑이야\".')

신씨가 소리질렀다. "도둑이야".

# 4

In [159]:
print('\"C:\Windows\"')

"C:\Windows"

# 5

In [161]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
'''\n은 엔터기, \t는 탭키'''

안녕하세요.
만나서		반갑습니다.

'\n은 엔터기, \t는 탭키'

# 6

In [162]:
print ("오늘은", "일요일")

오늘은 일요일

# 7

In [163]:
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [169]:
 print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

# 8

In [164]:
print('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

In [170]:
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

# 9

In [167]:
print("first");end = print("second")

first
second

In [172]:
print("first", end='\n\n'); print("second", end='***')

first

second***

# 10

In [168]:
string = "dk2jd923i1jdk2jd93jfd92jd918943jfd8923"
print(len(string))

38

# 11

In [175]:
a = "3"
b = "4"
print(a + b)
# 결과값 붙여져서 나온다
print('a'+'b') # 문자열로 인식

34
ab

# 12

In [177]:
s = "hello"
t = "python"
print(s+'!',end=' '+t)

hello! python

# 13

In [178]:
print("Hi" * 3) # HiHiHi

HiHiHi

# 14

In [179]:
print('-'*80)

--------------------------------------------------------------------------------

# 15

In [190]:
t1 = 'python'
t2 = 'jave'
print((t1+' '+t2+' ')*4)

python jave python jave python jave python jave

# 16

In [184]:
print(20000*10)

200000

# 18

In [185]:
2+2*3

8

# 19

In [186]:
a = 128
print(type(a))

<class 'int'>

In [187]:
a = '132'
print(type(a))

<class 'str'>

# 19

In [192]:
num_str = '720'
num=int(num_str)
num

720

# 20

In [194]:
num_str = str(num)
num_str

'720'

# 21

In [195]:
lang = 'python'
print(lang[0]+' '+lang[2]) # lang

p t

# 22

In [196]:
license_plate = '24가 2210'
license_plate[-4:]

'2210'

# 23
### 슬라이싱의 세 번째 값은 인덱스의 증감폭을 지정한다.

In [202]:
string = '홀짝홀짝홀짝'
print(string[::2]) # 홀홀홀
print(string[1::2])

홀홀홀
짝짝짝

# 24

In [203]:
string = 'PYTHON'
print(string[::-1])

NOHTYP

# 25

In [206]:
phone_number = "010-1111-9393"
print(phone_number.replace('-',' '))

010 1111 9393

# 26

In [207]:
print(phone_number[0:3],phone_number[4:8],phone_number[9:13],sep='')

01011119393

# 28

In [216]:
lang = 'python'
print(lang[0])
print(lang)

p
python

# 29

In [217]:
string = 'abcdfe2a354a32a'

In [223]:
print(string.upper()) # 전체 대문자로 변환
print(string.replace('a','A'))

ABCDFE2A354A32A
Abcdfe2A354A32A

# 30

In [225]:
string = 'abcd'
new_string=string.replace('b', 'B')
print(string)
print(new_string)

abcd
aBcd

# 41

In [226]:
movie_rank=['닥터 스트레인지','스플릿','럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

# 42

In [231]:
movie_rank.append('배트맨')
print(movie_rank) # 계속해서 중복된다.

['닥터 스트레인지', '스플릿', '럭키', '배트맨', '배트맨', '배트맨', '배트맨', '배트맨']

# 43

In [233]:
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '슈퍼맨', '스플릿', '럭키', '배트맨', '배트맨', '배트맨', '배트맨', '배트맨']

# 44

In [234]:
movie_rank.remove('럭키')

In [235]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '슈퍼맨', '스플릿', '배트맨', '배트맨', '배트맨', '배트맨', '배트맨']

In [236]:
del movie_rank[2]

In [238]:
del movie_rank[4:]

In [239]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

# 45

In [242]:
del movie_rank[2:]

In [243]:
movie_rank

['닥터 스트레인지', '슈퍼맨']

# 46

In [244]:
lang1 = ['C','C++','JAVA']
lang2 = ['Python','Go','C#']
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

# 47

In [245]:
nums=[1,2,3,4,5,6,7]
print(min(nums)) # 최소값
print(max(nums)) # 최대값

1
7

# 48

In [246]:
sum(nums)

28

# 49

In [250]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

In [251]:
len(cook)

12

# 50

In [257]:
print(sum(nums)/len(nums))

4.0

# 51

In [258]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [259]:
print(price[1:])

[100, 130, 140, 150, 160, 170]

# 52

In [260]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [263]:
print(nums[::2])

[1, 3, 5, 7, 9]

In [264]:
print(nums[1::2])

[2, 4, 6, 8, 10]

In [268]:
def solu(n):
    if n%2 ==0:
        print('짝수')
    else :
        print('홀수')
    return n

In [273]:
solu(4)

짝수

4

# 54

In [274]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

# 55

In [275]:
interest = ['삼성전자', 'LG전자', 'Naver']

In [277]:
print(interest[0],interest[2])

삼성전자 Naver

# 56

In [278]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [282]:
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

# 57

In [283]:
print('/  '.join(interest))

삼성전자/  LG전자/  Naver/  SK하이닉스/  미래에셋대우

# 58

In [284]:
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

# 59

In [285]:
string = "삼성전자/LG전자/Naver"

In [286]:
interest = [string[0:4], string[5:9], string[10:15]]

In [287]:
interest

['삼성전자', 'LG전자', 'Naver']

# 60

In [288]:
string = "삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우"

In [294]:
interest = [string[0:4], string[5:9], string[10:15],string[16:22],string[23:29]]
print(interest)

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

# 61

In [295]:
interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']
interest_1 = interest_0
interest_1[0] = 'Naver'
print(interest_0)

['Naver', 'LG전자', 'SK Hynix']

# 62

In [296]:
interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']
interest_1 = interest_0
interest_1[0] = 'Naver'
print(interest_0)

['Naver', 'LG전자', 'SK Hynix']

# 63

In [297]:
my_variable = ()

In [298]:
my_variable

()

# 64

tuple은 element의 값을 변경할 수 없습니다.

# 65

In [300]:
num=(1)
print(num)
type(num)

1

int

### 아래와 같이 괄호와 함께 하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다. type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식합니다.

In [303]:
my_tuple = (1, )
print(my_tuple)

(1,)

# 66

In [304]:
t = 1, 2, 3, 4
print(type(t))
### 튜플은 ()없이도 실행된다.

<class 'tuple'>

# 67

In [309]:
t = ('a', 'b', 'c')

In [310]:
t = ('A', 'b', 'c') # t[0]이 안돼

In [311]:
t = (t[0].upper(),t[1],t[2])

In [312]:
t

('A', 'b', 'c')

# 68

In [313]:
data = list(interest)

In [314]:
data

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

# 69

In [315]:
data = tuple(interest)

In [316]:
data

('삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우')

# 70

In [319]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a + b + c)

6

In [320]:
a = my_tuple[0]
b = my_tuple[1]
c = my_tuple[2]

In [325]:
print(a)
print(b)
print(c)

1
2
3

# 71

In [327]:
a, b, c = (0, 1, 2, 3, 4, 5)

ValueError: too many values to unpack (expected 3)

In [328]:
a, b, *c = (0, 1, 2, 3, 4, 5)

In [329]:
a

0

In [330]:
b

1

In [331]:
c

[2, 3, 4, 5]

# 72

In [332]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [334]:
a, b, *valid_score = (8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4)

In [336]:
print(a)
print(b)
print(valid_score)

8.8
8.9
[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [337]:
_,_,*valid_score = scores

In [338]:
_

8.9

In [339]:
valid_score

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

# 73

In [340]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [342]:
_,*valid_score,_ = scores

In [343]:
valid_score

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

# 74

In [344]:
temp= {}

In [345]:
temp

{}

# 75

In [347]:
ice = {'메로나' : 1000, '폴라포' : 1200, '빵빠레' : 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

# 76

In [348]:
ice['죠스바'] = 1200
ice['월드콘'] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

# 77

In [351]:
print("메로나 가격:", ice['메로나'])

메로나 가격: 1000

# 78

In [352]:
ice['메로나']=1300
ice

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

# 79

In [353]:
del ice['메로나']

In [354]:
ice

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

# 81~90

In [355]:
inventory={'메로나':[300,20],'비비빅':[400,3],'죠스바':[250,100]}

In [356]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [357]:
inventory['메로나'][0]

300

In [359]:
inventory['메로나'][1]

20

In [361]:
inventory['월드콘']=[500,7]

In [362]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [363]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [364]:
icecream.keys()

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

In [366]:
icecream.values()

dict_values([1200, 1200, 1800, 1500, 1000])

In [368]:
sum(icecream.values())

6700

In [373]:
keys = ('apple', 'pear', 'peach')
vals = (300, 250, 400)

In [370]:
new_product = {'팥빙수':2700, '아맛나':1000}

In [371]:
icecream.update(new_product)

In [372]:
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [375]:
result=dict(zip(keys,vals))

In [376]:
result

{'apple': 300, 'pear': 250, 'peach': 400}

In [378]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

In [379]:
close_table=dict(zip(date,close_price))

In [380]:
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

# 101~110

In [383]:
input ()

안녕하세요

'안녕하세요'

In [387]:
user= input()
print(user+'반갑습니다.')

채씨
채씨 반갑습니다.

In [386]:
user=input()

채씨

In [388]:
user= input('이름을 입력하세요.')

이름을 입력하세요.채동동

In [389]:
number = input('숫자를 입력하세요: ')

숫자를 입력하세요: 30

In [395]:
number = int(input())
if number%2 == 0:
    print('짝수')
else:
    print('홀수')

-1
홀수

In [406]:
number2 = int(input())
if number2 < 235:
    print(number2+20)
else :
    print(255)

260
255

In [411]:
time=input('현재시간: ')
if time[3:] =='00':
    print('정각입니다.')
else :
    print('정각이 아닙니다.')

현재시간: 02:02
정각이 아닙니다.

In [418]:
fruit = ["사과", "포도", "홍시"]
user_in = input('좋아하는 과일은 : ')
if user_in in fruit:
    print('정답입니다.')
else :
    print('정답이 아닙니다.')

좋아하는 과일은 : 사하
정답이 아닙니다.

In [420]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user_in = input('투자 종목: ')
if user_in in warn_investment_list:
    print('투자 종목입니다.')
else :
    print('아닙니다.')

투자 종목: Never
아닙니다.

In [3]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user_in = input('좋아하는 과일은?: ')
if user_in in fruit.values():
    print('정답입니다.')
else:
    print('정답이 아닙니다.')

좋아하는 과일은?: 뚜알기
정답이 아닙니다.

# 111~ 120

In [8]:
user_in = input('영문자를 입력하시오 : ')
if user_in.islower():
    user_in = user_in.upper()
else :
    user_in = user_in.lower()
print(user_in)

영문자를 입력하시오 : A
a

In [11]:
scores = int(input('점수를 입력하시오 : '))
if scores > 80:
    print('grade is A')
elif scores > 60:
    print('grade is B')
elif scores > 40:
    print('grade is C')
elif scores > 20:
    print('grade is D')
else : 
    print('grade is E')

점수를 입력하시오 : 99
grade is A

In [26]:
user = input('입력 : ').split()

number = user[0]
cur = user[1]

if cur == '달러':
    ra = 1167
elif cur == '엔':
    ra = 1.096
elif cur == '유로':
    ra = 1268
else :
    ra = 171
print(ra* int(number),'원')

입력 : 100 엔
109.60000000000001 원

In [16]:
pin = "881120-1068234"

In [20]:
pint=pin.split('-')
pint[1]

'1068234'

In [21]:
type(pin)

str

In [30]:
num1 = int(input('첫 번째 숫자 : '))
num2 = int(input('두 번째 숫자 : '))
num3 = int(input('세 번째 숫자 : '))

첫 번째 숫자 : -1
두 번째 숫자 : 30
세 번째 숫자 : 0

In [31]:
if num1 > num2 :
    max_num = num1
else:
    max_num = num2
if num3 > max_num:
    max_num = num3
print(max_num)

30

In [32]:
max_num = max(num1, num2, num3)
print(max_num)

30

In [36]:
phone = input('휴대폰 번호를 입력하시오: ').split('-')

comute = phone[0]

if comute == '011':
    print('skt')
elif comute == '016':
    print('kt')
elif comute == '019':
    print('lgu')
else:
    print('알수없음')

휴대폰 번호를 입력하시오: 02-888-8888
알수없음

In [49]:
address = input('우편번호 : ')

area = address[2]

if area in "012" :
    print('강북구')
elif area in "345" :
    print('도봉구')
else :
    print('노원구')

우편번호 : 01300
도봉구

In [45]:
zipcode = input("우편번호:")
if zipcode[2] in "012" :
    print("강북구")
elif zipcode[2] in "345" :
    print("도봉구")
else :
    print("노원구")

우편번호:01822
노원구

In [52]:
pin = input('주민번호: ')
if pin[7] in "13":
    print('남성')
elif pin[7] in "24":
    print('여성')
else:
    print('생존확인불가')

주민번호: 100907-503922
생존확인불가

In [10]:
pin = input('주민등록번호 : ')
if 0<=int( pin[8:10]) <= 8:
    print('서울')
else :
    print('서울이 아닙니다.')

주민등록번호 : 821010-1935210
서울이 아닙니다.

In [5]:
pin='821010-1035210'

In [6]:
pin[8:10]

'03'

In [7]:
int(pin[8:10])

3

In [8]:
0<=int( pin[8:10]) <= 8

True

# 121~ 130

In [11]:
for 변수 in ["가", "나", "다", "라"]:
    print(변수)

가
나
다
라

In [12]:
for 변수 in ["사과", "귤", "수박"]:
    print(변수)

사과
귤
수박

In [13]:
for 변수 in ["사과", "귤", "수박"]:
    print(변수)
    print("--")

사과
--
귤
--
수박
--

In [14]:
for 변수 in ["사과", "귤", "수박"]:
    print(변수)
print("--")

사과
귤
수박
--

In [16]:
for menu in ["김밥", "라면", "튀김"]:
    print('오늘의 메뉴:',menu)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [21]:
print('보유 주식 목록 \n----------------------- \n')
for port in ["SK하이닉스", "삼성전자", "LG전자"]:
    print(port, '보유중')

보유 주식 목록
-----------------------

SK하이닉스 보유중
삼성전자 보유중
LG전자 보유중

In [22]:
for ani in ['dog', 'cat', 'parrot', 'squirrel', 'goldfish']:
    print(ani, len(ani))

dog 3
cat 3
parrot 6
squirrel 8
goldfish 8

In [23]:
for price in [100, 200, 300]:
    print(price + 10)

110
210
310

In [27]:
for pirces in ["129,300", "1,000", "2,300"]:
    print(int(pirces.replace(',','')))

129300
1000
2300

In [28]:
for menus in ["면라", "밥김", "김튀"]:
    print(menus[::-1])

라면
김밥
튀김

# 131~140

In [33]:
my_list = ["가", "나", "다", "라"]

In [35]:
for val in my_list[1:]:
    print(val)

나
다
라

In [36]:
for val in my_list:
    if val != '가':
        print(val)

나
다
라

In [37]:
my_list = [1, 2, 3, 4, 5, 6]

In [44]:
for val in my_list:
    if val % 2 == 0:
        pass
    else:
        print(val)

1
3
5

In [45]:
my_list = [1, 2, 3, 4, 5, 6]

In [48]:
for val in my_list:
    if val % 2 == 0:
        print(val)

2
4
6

In [49]:
my_list = ["가", "나", "다", "라"]

In [51]:
for val in my_list[::-1]:
    print(val)

라
다
나
가

In [52]:
my_list = [3, -20, -3, 44]

In [53]:
for val in my_list:
    if val < 0 :
        print(val)

-20
-3

In [57]:
my_list = [3, 100, 23, 44,24,99]

In [58]:
for val in my_list:
    if val % 3 == 0:
        print(val)

3
24
99

In [59]:
my_list = ["I", "study", "python", "language", "!"]

In [61]:
for val in my_list:
    if len(val) >=3:
        print(val)

study
python
language

In [62]:
my_list = [3, 1, 7, 10, 5, 6]

In [63]:
for val in my_list:
    if 5<= val < 10:
        print(val)

7
5
6

In [64]:
my_list = [13, 21, 12, 14, 30, 18]

In [66]:
for val in my_list:
    if 10 <= val <20 and val % 3 ==0:
        print(val)

12
18

In [67]:
my_list = [3, 1, 7, 12, 5, 16]

In [69]:
for val in my_list:
    if val % 3 ==0 or val % 4 == 0:
        print(val)

3
12
16

# 141~150

In [70]:
my_list = ["A", "b", "c", "D"]

In [72]:
for val in my_list:
    if val.isupper():
        print(val)

A
D

In [74]:
for val in my_list:
    if val.isupper():
        pass
    else:
        print(val)

b
c